#logo {
    padding-top: 109px;
    padding-bottom: 25px;
    height: 92px;
    width: 272px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

div#search-area {
    height: 44px;
    width: 575px;
    border: 1px solid #dfe1e5;
    border-radius: 24px;
    margin: 0 auto;

    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    
}

input#search-bar {
    height: 39px;
    width: 487px;
    border: none;
    font: 16px arial, sans-serif;
}

#magnifying {
    height: 20px;
    width: 20px;
    padding-top: 12px;
    padding-bottom: 3px;
    padding-right: 5px;
    padding-left: 10px;
    opacity: 70%;

    cursor: pointer;
}

#microphone {
    height: 20px;
    width: 20px;
    padding-top: 12px;
    padding-bottom: 3px;
    padding-right: 10px;
    padding-left: 5px;

    cursor: pointer;
}

input:focus, textarea {
    outline: none !important;
}


div#search-buttons-area {
    width: 571px;
    height: 70px;
    padding-top: 18px;
    display: block;
    text-align: -webkit-center;
    margin: auto;
    
}

.search-buttons {
    background-image: -webkit-linear-gradient(top, #f5f5f5, #f1f1f1);
    background-color: #f2f2f2;
    border: 1px solid #f2f2f2;
    border-radius: 4px;
    color: #5F6368;
    font-family: arial, sans-serif;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
}



input[type="submit"]:hover {
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    background-color: #f8f8f8;
    border: 1px solid #c6c6c6;
    color: #222;
}
